@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
    background: linear-gradient(rgba(203, 224, 234, 1),rgba(194, 215, 224, 1),rgba(218, 224, 226, 1));
    padding-top:15px;
 }
 body:has(.singup){
    padding-top:0 ;
 }
.search{
    background: transparent !important;
}
.slideWeather{
    display: flex !important;
 }
 .cloud{
    background: url(https://i.ibb.co/yRyfCKw/4cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
